<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="vendor/angular-resource.min.js"></script>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script src="js/app.js"></script>
<script src="js/services/rest_services.js"></script>
<script src="js/controller/dashboard.js"></script>
<script src="js/controller/braintee.js"></script>
<body ng-app="myApp">

<div ui-view></div>



</body>
</html>